@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0 20px;
  height: 100vh;
  background: hsl(221, 100%, 96%);
  font-family: "Hanken Grotesk", sans-serif;
}
@media screen and (max-width: 768px) {
  body {
    height: 100%;
    padding: 0;
  }
}
